@media screen and (max-width: 992px) {
	.main-head {
		max-height: 500px;
	}
	.header-slides {
    padding: 80px 94px 80px;
    text-align: center;
    color: white;
	}
	.header-slides p {
		min-height: 100px
	}
	.header-slides .link {
		margin-top: 10px;
	}
	.dot-container .dot {
		margin-bottom: 20px;
	}
	/*.about .video iframe {
		min-height: 400px
	}*/
	.works .work-head {
		padding: 70px 20px;
	}
	.works .work-block{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


@media screen and (max-width: 800px) {
	.navbar .menu { display: block; }
	.menu a { display: none; }
	.navbar .menu a.menu-icon {
		float: right; 
		display: block;
		position: absolute;	
		right: 20px; 
		top: 20px;
		transition: all 1s ease
	}
	.responsive { 
		position: absolute; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
	.menu.responsive .menu-content {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding-top: 10%;
	}
	.menu.responsive a:not(:last-child) {
		display: block;
		text-align: center;
		padding: 4vh;
		top: 10px;
		margin-left: 0;
	}
	.menu.responsive a:not(:last-child):hover{
		background-color: rgba(49,29,94,.8);
	}
	.header-slides {
    padding: 50px 20px 50px;
    z-index: -1;
  }
  .header-slides h1:after {
		margin: 15px auto;
	}
	.about .container {
		/*display: block;*/
		min-height: 300px;
	}
	.about .container .image-block {
		display: none;
	}
/*	.about .container .image-block img {
		margin: 10px;
		max-width: 100px;
		text-align: left;
		display: inline-block;
	}*/
	.about .container .text-block {
		margin: 20px;
		display: flex;
		flex-direction: column;
	}
	.about .container .text-block h2 {
		display: block;
		vertical-align: middle;
		text-align: center;
	}
	.about .container .text-block .link {
		display: inline-block;
		margin: 0 auto;
	}
	/*.about .video iframe {
		min-height: 250px
	}*/
	.capture {
		padding-top: 40px;
	}
	.expert-container {
		grid-template-columns: auto auto;
	}
	.expert-container .second, .expert-container .fourth {
		border-right: none;
	}
	.first, .second, .third, .fourth {
		border-bottom: 1px solid #ebebeb;
	}
	.first, .third, .fifth {
		border-right: 1px solid #ebebeb
	}
	.team-block {
		padding: 20px;
		margin-bottom: 0;
		grid-template-columns: 1fr 1fr;
	}
	.team-block .worker {
		margin-bottom: 20px;
	}
	.works .work-head {
		padding: 50px 20px;
	}
	.works .work-block{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.works .link {
		margin: 20px;
	}
	.testimonials .container {
    padding: 20px 0;
	}
	.contact .container {
    padding: 20px;
    flex-direction: column;
	}
	.contact .container form {
		margin-bottom: 40px;
		text-align: center;
	}
	.contact .container form .link {
    display: inline-block;
    margin-top: 0;
	}
	.contact .container .client {
		padding: 0;
		text-align: center;
	}
	.main-foot .foot-description {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-between;
    margin-bottom: 30px;
	}
	.main-foot .foot-description h6 {
		margin: 40px 0 20px
	}
	.main-foot .copyright {
    flex-direction: column;
	}
	.main-foot .copyright .help {
		margin-bottom: 20px;
	}
	.main-foot .container {
		padding: 20px;
	}
}
	

@media screen and (max-width: 480px) {
	.capture {
		padding-top: 20px;
		margin-bottom: 10px;
	}
	.expertise {
		padding: 0 20px;
	}
	.capture p:after {
		margin: 15px auto 20px 
	}
	.expert-container {
		grid-template-columns: auto;
	}
	.expert-container .expert-block {
		border: none;
	}
/*	.expert-container .expert-block:not(:last-shild) {
		border-bottom: 1px solid #ebebeb;
	}*/
	.expert-container .first, .expert-container .second, .expert-container .third,
	.expert-container .fourth, .expert-container .fifth {
		border-bottom: 1px solid #ebebeb;
	}
	.works .work-block{
		grid-template-columns: 1fr 1fr ;
	}
	.prev, .next {
		display: none;
	}
}