@media screen and (max-width: 992px) {
	.main-head {
		min-height: 500px;
	}
	.main-head .overlay { min-height: 500px; }
	.header-slides {
    padding: 80px 94px 80px;
    text-align: center;
    color: white;
	}
	.header-slides p {
		min-height: 100px
	}
	.header-slides .link {
		margin-top: 10px;
	}
	.dot-container .dot {
		margin-bottom: 20px;
	}
	/*.about .video iframe {
		min-height: 400px
	}*/
}


@media screen and (max-width: 800px) {
	.navbar .menu { display: block; }
	.menu a { display: none; }
	.navbar .menu a.menu-icon {
		float: right; 
		display: block;
		position: absolute;	
		right: 20px; 
		top: 20px;
		transition: all 1s ease
	}
	.responsive { 
		position: absolute; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
	.menu.responsive .menu-content {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding-top: 10%;
	}
	.menu.responsive a:not(:last-child) {
		display: block;
		text-align: center;
		padding: 4vh;
		top: 10px;
		margin-left: 0;
	}
	.menu.responsive a:not(:last-child):hover{
		background-color: rgba(49,29,94,.8);
	}
	.header-slides {
    padding: 50px 20px 50px;
    z-index: -1;
  }
  .header-slides h1:after {
		margin: 15px auto;
	}
	.about .container {
		/*display: block;*/
		min-height: 300px;
	}
	.about .container .image-block {
		display: none;
	}
/*	.about .container .image-block img {
		margin: 10px;
		max-width: 100px;
		text-align: left;
		display: inline-block;
	}*/
	.about .container .text-block {
		margin: 15px;
		display: flex;
		flex-direction: column;
	}
	.about .container .text-block h2 {
		display: block;
		vertical-align: middle;
		text-align: center;
	}
	.about .container .text-block .link {
		display: inline-block;
		margin: 0 auto;
	}
	/*.about .video iframe {
		min-height: 250px
	}*/
}
	

