a {
  text-decoration: none; }

li {
  list-style: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

.main-head {
  min-height: 670px;
  width: 100%;
  background-color: #fff;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.overlay {
  background-image: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  opacity: 0.851;
  min-height: 670px; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.navbar {
  display: flex;
  padding-top: 16px; }

.navbar .logo {
  display: flex;
  flex: 20%;
  margin-left: 10px; }
  .navbar .logo span {
    margin-left: 10px;
    color: #00e0d0;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 100;
    line-height: 1.6; }

.navbar .menu {
  flex: 80%;
  align-self: center;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden; }
  .navbar .menu a {
    margin-left: 25px;
    color: white;
    transition: all .2s;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700; }
    .navbar .menu a:hover {
      color: #00e0d0; }
  .navbar .menu .active {
    color: #00e0d0; }
  .navbar .menu .menu-icon {
    display: none; }
  .navbar .menu .bar1, .navbar .menu .bar2, .navbar .menu .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: all .3s ease; }
  .navbar .menu .change .bar1 {
    transform: rotate(-45deg) translate(-6.5px, 7px); }
  .navbar .menu .change .bar2 {
    opacity: 0; }
  .navbar .menu .change .bar3 {
    transform: rotate(45deg) translate(-6.5px, -8px); }

.header-slides {
  padding: 150px 94px 126px;
  text-align: center;
  color: white; }
  .header-slides h1 {
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 900; }
    .header-slides h1:after {
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background-color: #00e0d0;
      margin: 27px auto 30px; }
  .header-slides p {
    min-height: 60px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6; }

.link {
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  color: #00e0d0;
  padding: 14px 15px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 53px;
  transition: all .3s ease; }
  .link:hover {
    color: #000;
    background-color: #00e0d0; }

.dot-container {
  text-align: center; }
  .dot-container .dot {
    height: 10px;
    width: 10px;
    margin: 0 0 70px;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid #bbbbbd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .dot-container .active {
    background-color: #00e0d0;
    border: 1px solid #00e0d0; }

.fade {
  animation-name: fade;
  animation-duration: 1s; }

@keyframes fade {
  from {
    opacity: .8; }
  to {
    opacity: 1; } }

.about .container {
  display: flex;
  align-items: center;
  min-height: 400px; }
  .about .container .image-block {
    flex: 40%;
    text-align: center; }
    .about .container .image-block img {
      max-height: 230px; }
  .about .container .text-block {
    flex: 60%; }
    .about .container .text-block h2 {
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px; }
    .about .container .text-block p {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6; }
    .about .container .text-block .link {
      margin: 0; }
