a {
  text-decoration: none; }

li {
  list-style: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

.main-head {
  max-height: 700px;
  width: 100%;
  background-color: #fff;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 2; }

.overlay {
  background-image: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  opacity: 0.851;
  height: 100%; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.navbar {
  display: flex;
  padding-top: 16px; }

.navbar .logo {
  display: flex;
  flex: 20%;
  margin-left: 10px; }
  .navbar .logo span {
    margin-left: 10px;
    color: #00e0d0;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 100;
    line-height: 1.6; }

.navbar .menu {
  flex: 80%;
  align-self: center;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden; }
  .navbar .menu a {
    margin-left: 25px;
    color: white;
    transition: all .2s;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900; }
    .navbar .menu a:hover {
      color: #00e0d0; }
  .navbar .menu .active {
    color: #00e0d0; }
  .navbar .menu .menu-icon {
    display: none; }
  .navbar .menu .bar1, .navbar .menu .bar2, .navbar .menu .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: all .3s ease; }
  .navbar .menu .change .bar1 {
    transform: rotate(-45deg) translate(-6.5px, 7px); }
  .navbar .menu .change .bar2 {
    opacity: 0; }
  .navbar .menu .change .bar3 {
    transform: rotate(45deg) translate(-6.5px, -8px); }

.header-slides {
  padding: 150px 94px 126px;
  text-align: center;
  color: white; }
  .header-slides h1 {
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 900; }
    .header-slides h1:after {
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background-color: #00e0d0;
      margin: 27px auto 30px; }
  .header-slides p {
    min-height: 60px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6; }

.link {
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  color: #00e0d0;
  padding: 15px 25px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 53px;
  transition: all .3s ease; }
  .link:hover {
    color: #000;
    background-color: #00e0d0; }

.dot-container {
  text-align: center; }
  .dot-container .dot {
    height: 10px;
    width: 10px;
    margin: 0 0 70px;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid #bbbbbd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .dot-container .active {
    background-color: #00e0d0;
    border: 1px solid #00e0d0; }

.fade {
  animation-name: fade;
  animation-duration: 1s; }

@keyframes fade {
  from {
    opacity: .8; }
  to {
    opacity: 1; } }

.about {
  max-height: 950px; }
  .about .container {
    display: flex;
    align-items: center;
    min-height: 400px; }
    .about .container .image-block {
      flex: 40%;
      text-align: center; }
      .about .container .image-block img {
        max-height: 230px; }
    .about .container .text-block {
      flex: 60%; }
      .about .container .text-block h2 {
        font-family: "Playfair Display";
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px; }
      .about .container .text-block p {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6; }
      .about .container .text-block .link {
        margin: 0; }

.video {
  width: 100%;
  position: relative; }
  .video iframe {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80vh; }
  .video .play {
    position: absolute;
    background-image: url("../img/video-bd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .video .play .watch-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: white; }
      .video .play .watch-block .fa-play-circle {
        font-size: 60px;
        cursor: pointer;
        font-weight: 100; }
      .video .play .watch-block p {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 900;
        margin-top: 15px; }

.expertise {
  min-height: 600px; }

.capture {
  padding-top: 70px;
  text-align: center;
  margin-bottom: 50px; }
  .capture h2 {
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    color: #413d4b; }
  .capture p {
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    color: #636268;
    line-height: 1.6;
    margin-top: 10px; }
    .capture p:after {
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background-color: #c6c4c9;
      margin: 15px auto; }

.expert-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-bottom: 70px; }
  .expert-container .expert-block {
    padding: 30px; }
    .expert-container .expert-block .expert-img-block {
      min-height: 60px;
      position: relative; }
      .expert-container .expert-block .expert-img-block img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .expert-container .expert-block h5 {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 900;
      margin: 20px 0; }
    .expert-container .expert-block p {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;
      color: #666666;
      line-height: 1.6; }
  .expert-container .first, .expert-container .second, .expert-container .fourth, .expert-container .fifth {
    border-right: 1px solid #ebebeb; }
  .expert-container .first, .expert-container .second, .expert-container .third {
    border-bottom: 1px solid #ebebeb; }

.team {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto; }
  .team .container {
    text-align: center; }
    .team .container .capture h2 {
      color: white; }
    .team .container .capture p {
      color: #f9f9f9; }
      .team .container .capture p:after {
        background-color: #655c80; }
    .team .container p {
      color: white;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;
      text-align: center; }
    .team .container .link {
      text-align: center;
      display: inline-block;
      margin: 20px auto 70px; }

.team-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 70px;
  grid-column-gap: 20px; }

.worker {
  display: inline-block;
  width: 100%;
  position: relative; }
  .worker figure {
    width: 100%; }
    .worker figure img {
      width: 100%; }

.worker-info {
  margin-top: -5px;
  padding: 20px 0;
  border: 1px solid #7b7890;
  color: white; }
  .worker-info h6 {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 5px; }
  .worker-info p {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300; }

.works {
  min-height: 700px;
  width: 100%;
  text-align: center; }
  .works .work-head {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 0;
    align-items: center;
    justify-content: space-between;
    color: #413d4b; }
    .works .work-head h2 {
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 900; }
    .works .work-head a {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400; }
      .works .work-head a span {
        font-size: 20px; }
  .works .work-block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    width: 100%; }
    .works .work-block .work-example {
      display: inline-block;
      width: 100%;
      position: relative; }
      .works .work-block .work-example .photo {
        width: 100%;
        height: 100%; }
        .works .work-block .work-example .photo img {
          width: 100%; }
  .works .link {
    margin: 70px; }

.testimonials {
  min-width: 400px;
  text-align: center;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  color: white; }
  .testimonials .container {
    padding: 70px 0; }
  .testimonials span {
    display: inline-block;
    font-size: 80px; }
  .testimonials .testimonials-slider-container {
    max-width: 700px;
    margin: 0 auto; }
    .testimonials .testimonials-slider-container p:first-child {
      display: flex;
      align-items: center;
      font-family: "Playfair Display";
      font-size: 16px;
      font-weight: 400;
      min-height: 150px;
      vertical-align: middle;
      line-height: 1.6; }
  .testimonials .worker-info {
    border: none;
    padding: 50px; }
  .testimonials .prev, .testimonials .next {
    font-size: 30px;
    vertical-align: middle;
    margin: 0 20px;
    cursor: pointer; }
  .testimonials .avatar-container {
    display: inline-block; }
    .testimonials .avatar-container .ava-dot {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
      transform: scale 2, 2; }
      .testimonials .avatar-container .ava-dot:last-child {
        margin-right: 0; }
    .testimonials .avatar-container .active-ava {
      width: 70px; }

.contact {
  min-height: 600px; }
  .contact .container {
    display: flex;
    padding: 70px 0;
    justify-content: space-between; }
    .contact .container h2 {
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 900;
      color: #413d4b; }
    .contact .container form {
      flex: 50%; }
      .contact .container form h2 {
        margin-bottom: 35px; }
      .contact .container form input, .contact .container form textarea {
        width: 100%;
        margin-bottom: 20px;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        padding: 10px; }
      .contact .container form textarea {
        height: 150px; }
      .contact .container form .link {
        display: inline-block;
        margin-top: 0; }
    .contact .container .client {
      flex: 50%;
      padding-left: 100px; }
      .contact .container .client h2 {
        margin-bottom: 20px; }
      .contact .container .client .client-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center; }
        .contact .container .client .client-logo figure {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 80px; }
